# Q1

In [106]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
print("1 : ")
print(df.iloc[:3])

1 :
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

# Q:2

In [87]:
print("2 :")
df = pd.DataFrame(exam_data , index=labels)
df = df.dropna ()
print (df)

2 :
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

# Q:3

In [91]:
print ("3:")
df = pd.DataFrame(exam_data , index=labels)
df = df.dropna ()
print(df[['name', 'score']])

3:
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
i      Kevin    8.0
j      Jonas   19.0

# Q:4

In [89]:
print ("4:")
df.loc['k'] = [1, 'Suresh', 'yes', 15.5]
print (df)

4:
        name   score attempts qualify
a  Anastasia    12.5        1     yes
b       Dima       9        3      no
c  Katherine    16.5        2     yes
d      James     NaN        3      no
e      Emily       9        2      no
f    Michael      20        3     yes
g    Matthew    14.5        1     yes
h      Laura     NaN        1      no
i      Kevin       8        2      no
j      Jonas      19        1     yes
k          1  Suresh      yes    15.5

# Q:5

In [90]:
print ("5:")
df = pd.DataFrame(exam_data , index=labels)
df.drop('attempts', inplace=True, axis=1)
print (df)

5:
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

# Q:6

In [ ]:

import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df= pd.DataFrame(exam_data , index=labels)
for i in (len ['score'] ):
    if ((df['score'][i]) > 10) :
        df1 = df.assign(['Success'] = 1)
    else:
        df1 = df.assign(['Success'] = 0)
    print (df1)

# Q:7

In [92]:
print ("7:")
#df = pd.DataFrame(exam_data , index=labels)
df = pd.DataFrame(exam_data , index=labels)
df = df.dropna ()
df.to_csv("my_data.csv")
df

7:

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes